.header-main{
    width: 100%;
    height: 96px;
    padding: 0;
    background: white;
}
.scene{
    width: 100%;
    height: 1500px;
    background-color: aqua;
}
.scroll-having{
    width: 100%;
    height: 467px;
    margin : 0 0 25px 0;
    background: #1d3364;
    box-shadow: -0.063rem 0.125rem 0.25rem #325992;
}
.card-having{
    margin: 0 200px 0 200px;
    height: 450px;
}
.card-img-top{
    width: 120px;
    height: 220px;
}
.header-buttons{
    background: aqua;
    width: 100%;
    height: 70px;
    justify-content: center;
    font-family: "romulregular", "Times New Roman";
}
.row{
    justify-content: space-between;
}
.nav-item{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}
.nav-link{
    margin-left: 20px;
    font-family: "romulregular", "Times New Roman";
}
.title{
    color: white;
    width:100%;
    text-align: center;
    font-size: 40px;
    background: #7490b8;
    font-family: "romulregular", "Times New Roman";
}
.title p{
    margin-bottom: 0;
    text-align: center;
}
.dropdown-menu[data-bs-popper] {
    left: 100px;
}
.around-scroll{
    width: 200px;
    height: 426px;
    border-radius: 20px;
    background-color: #1a2f5e;
}
.scroll{
    padding-top: 20px;
}
.footer{
    width: 100%;
    height: 170px;
    background: #1a2f5e;
}
.lg{
display : flex;
justify-content : space-around;
}
.logo-and-name{
display : flex;
justify-content : space-around;
padding-top : 50px;
}
.img-social{
height : 50px;
width : 50px;
margin-left : 40px;
border-radius : 10px;
    margin-top: 10px;
}
.title-foot {
    width: 286px;
    font-family: "romulregular", "Times New Roman";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.008px;
    padding-top: 10px;
    padding-left : 10px;
    color: white;
}
.content{
    width: 100%;
    height: 1600px;
}
.content-auth{
    width: 100%;
    height: 697px;
    background: #e9edf3;
}
.btn-search-around{
    margin-right: 50px;
}
h2{
    text-align: center;
    font-family: "romulregular", "Times New Roman";
}
.wid{
    width: 100%;
    margin-top: 20px;
}
.authorize-box{
    height: 100%;
    padding: 50px;
}
.to-enter{
    max-width: 600px;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 30px auto auto;
    position: relative;
    background: white;
    height: 300px;
}
.canvas-body{
    height: 100%;
    width: 463px;
}
.title-cards{
    font-family: "romulregular", "Times New Roman";
    font-size : 25px;
    text-align : left;
}
.three {
  text-align: center;
}
.d-block{
    width: 1200px;
    height: 423px;
}
.three h1 {
    font-family: "romulregular", "Times New Roman";
  position: relative;
  font-size: 2.5em;
  font-weight: normal;
  padding: 10px 40px;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.list-group a{
    font-size: 20px;
    height: 60px;
    text-align: left;
    font-family: "romulregular", "Times New Roman";
}
.list-group a p{
    margin: 7px 0 0 0;

}
.list-group a:hover{
    background-color: #325992;
}
.enter{
    margin-left: 50px;
    margin-right: 20px;
    color : white;
}
.text-dec{
    text-decoration: none;
    color: white;
    font-family: "romulregular", "Times New Roman";
    font-size: 1rem;
}



