<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<form method="post" th:action="@{/home/save}" th:object="${modelFilm}" class="mainContent"
      style="width: 300px; height: 300px; margin: auto; padding: 10px;">
    <div class="form-group">
        <label for="exampleInputTitle">Film title</label>
        <input type="text" th:field="*{title}" name="tit" class="form-control" id="exampleInputTitle"
               aria-describedby="emailHelp"
               placeholder="Enter film title">
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect date</p>
    </div>
    <div class="form-group">
        <label for="exampleInput">Write date of creation</label>
        <input type="text" th:field="*{dateOfCreation}" name="date" class="form-control" id="exampleInput"
               placeholder="Enter date of creation">
        <p th:if="${#fields.hasErrors('dateOfCreation')}" th:errors="*{dateOfCreation}">Incorrect date</p>
    </div>
    <select th:field="*{genre}" name="gen" class="form-control">
        <option th:value="HORROR">Horror</option>
        <option th:value="COMEDY">Comedy</option>
        <option th:value="DRAMA">Drama</option>
    </select>
    <div class="form-group">
        <label for="exampleInputRating">Write rating</label>
        <input type="number" class="form-control" th:field="*{rating}" name="rate"
               placeholder="Enter rating from 0 to 10"
               id="exampleInputRating">
        <p th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Incorrect date</p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Order</th>
        <th scope="col">Film title</th>
        <th scope="col">Genre</th>
        <th scope="col">Date of creation</th>
        <th scope="col">Rating</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody th:each="f, rt : ${films}">
    <tr>
        <th scope="row" th:text="${rt.count}"></th>
        <td th:text="${f.title}"></td>
        <td th:text="${f.genre}"></td>
        <td th:text="${f.dateOfCreation}"></td>
        <form th:action="@{/home/update/{idUpdate}(idUpdate = ${f.id})}" method="post">
            <td><label>
                <input th:value="${f.rating}" name="ratingNew">
            </label>
                <button type="submit">CHANGE</button>
            </td>
        </form>
        <td>
            <form th:action="@{/home/delete(idToDel = ${f.id})}" method="post">
                <button type="submit">DELETE</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>