.form-group{
    height: 86px;
    width: 100%;
}
.content{
    width: 500px;
    background-color: #e9edf3;
    border-radius: 20px;
    margin: auto;
}
.btn{
    width: 100%;
}
label{
    padding-left: 10px;
    color : black;
}